{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de cursos de oposiciones</title>
    <link rel="stylesheet" href="{% static 'css/estilosbase.css' %}">
    {% block title %}{% endblock title %} 
    {% block extra_css %}{% endblock extra_css %}
</head>



<body>

    <!-- Barra de navegación -->
    <div class="navbar fixed-top">
        <a href="{% url 'index' %}" class="navbar-logo no-underline">JoseCo</a>
        {% if user.is_authenticated %}
        <div class="navbar-menu">
            <a class="nav-link text-white" href="{% url 'perfil' %}">{{ user.email }}</a>
            <form action="{% url 'cerrar_sesion' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="nav-link text-white"
                    style="background: none; border: none; cursor: pointer;">
                    Cerrar Sesión
                </button>
            </form>
        </div>
        {% endif %}
    </div>

    {% block content %}{% endblock content %}

</body>

</html>