{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.ico' %}">
    <title>OPOSCHEDULE</title>
    <link rel="stylesheet" href="{% static 'css/estilosbase.css' %}">
    {% block title %}{% endblock title %} 
    {% block extra_css %}{% endblock extra_css %}
</head>



<body>

    <!-- Barra de navegación -->
    <div class="navbar fixed-top">
        <!-- Añadir png a la izquierda de OPOSCHEDULE con tamaño reducido -->
        <div class="d-flex align-items-center">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="navbar-logo" style="width: 25px; height: 25px; margin-right: 5px;">
            </a>
            <a href="{% url 'index' %}" class="navbar-logo no-underline text-white" style="text-decoration: none;">OPOSCHEDULE</a>
        </div>
        
        <div class="navbar-menu">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                {% else %}
                    <a class="nav-link text-white" href="{% url 'mis_cursos' %}">Mis Cursos</a>
                    <a class="nav-link text-white" href="{% url 'mis_recibos' %}">Mis Recibos</a>
                    <a class="nav-link text-white" href="{% url 'lista_cursos' %}">Cursos Disponibles</a>
                    <a href="{% url 'ver_carrito' %}" class="nav-link text-white">
                        🛒 Ver Cesta <span id="carrito-cantidad">0</span>
                    </a>
                {% endif %}
                <a class="nav-link text-white" href="{% url 'perfil' %}">{{ user.email }}</a>
                <a class="nav-link text-white" href="{% url 'contacto' %}">Contáctanos</a>
                <form action="{% url 'cerrar_sesion' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="nav-link text-white"
                        style="background: none; border: none; cursor: pointer; font-family: Arial;">
                        Cerrar Sesión
                    </button>
                </form>
            {% else %}
                <a href="{% url 'inicio_sesion' %}" class="btn btn-secondary w-100 mt-3">Acceso</a>
                <a class="nav-link text-white" href="{% url 'contacto' %}">Contáctanos</a>
            {% endif %}
        </div>
        
    </div>

    {% block content %}{% endblock content %}

</body>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        fetch('/carrito-cantidad/', {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            const carritoCantidad = document.getElementById('carrito-cantidad');
            if (carritoCantidad) {
                carritoCantidad.textContent = data.carrito_cantidad;
            }
        })
        .catch(error => console.error('Error al inicializar el carrito:', error));
    });
</script>


</html>