{% extends 'base.html' %}
{% load static %}



{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/registro.css' %}">
  <link rel="stylesheet" href="{% static 'css/estilosbase.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="form-container mt-5 mb-3" style="padding-top: 20px;">
    <h2>Contáctanos</h2>
    <div class="mt-3">
        <p>Llamanos al: +34 608190173</p>
    </div>
    
    <div class="contact-info mt-5">
        <h3>Dirección</h3>
        <p>C/ Falsa 123, Ciudad Falso, País Falso</p>
        <h3>Horario de Atención</h3>
        <p>Lunes a Viernes: 9:00 AM - 6:00 PM</p>
        <p>Sábado: 10:00 AM - 2:00 PM</p>
        <p>Domingo: Cerrado</p>
        <h3>Ubicación</h3>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1585.6668275817399!2d-5.986786839984528!3d37.358281292175356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126dd4a3055555%3A0x29c3f634f8a021b8!2sEscuela%20T%C3%A9cnica%20Superior%20de%20Ingenier%C3%ADa%20Inform%C3%A1tica!5e0!3m2!1ses!2ses!4v1731918879742!5m2!1ses!2ses" 
    width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    
</div>
{% endblock content %}