{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cursos_form.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="form-container">
    <h2>Crear Curso</h2>
    <form method="post">
        {% csrf_token %}
        
        <!-- Campo: Nombre del curso -->
        <div class="form-group">
            <label for="id_nombre">Nombre del Curso:</label>
            {{ form.nombre }}
        </div>

        <!-- Campo: Especialidad -->
        <div class="form-group">
            <label for="id_especialidad">Especialidad:</label>
            {{ form.especialidad }}
        </div>

        <!-- Campo: Modalidad -->
        <div class="form-group">
            <label for="id_modalidad">Modalidad:</label>
            {{ form.modalidad }}
        </div>

        <!-- Campo: Fecha de Inicio -->
        <div class="form-group">
            <label for="id_fecha_inicio">Fecha de Inicio:</label>
            {{ form.fecha_inicio }}
        </div>

        <!-- Campo: Fecha de Finalización -->
        <div class="form-group">
            <label for="id_fecha_finalizacion">Fecha de Finalización:</label>
            {{ form.fecha_finalizacion }}
        </div>

        <!-- Campo: Vacantes -->
        <div class="form-group">
            <label for="id_vacantes">Vacantes Disponibles:</label>
            {{ form.vacantes }}
        </div>

        <!-- Campo: Precio -->
        <div class="form-group">
            <label for="id_precio">Precio:</label>
            {{ form.precio }}
        </div>

        <!-- Botones -->
        <div class="button-group">
            <button type="submit" class="btn">Crear</button>
        </div>
        <a href="{% url 'admin_cursos' %}" class="btn btn-cancelar">Cancelar</a>
    </form>
</div>
{% endblock %}
