{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="form-container mb-4">
    <h2>Crear Usuario</h2>
    <form method="post">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="error">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        
        <div class="button-group">
            <button type="submit" class="btn">Crear</button>
            <a href="{% url 'admin_usuarios' %}" class="btn btn-cancelar">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
