{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Inicio - JOSECO</title>
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extra_css %}

{% block content %}
    <br>
    <br>
    <br>
    <!-- Sección principal -->
    <div class="principal">
        <div class="principal-overlay"></div>
        <div class="principal-content">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                        <!-- Encabezado -->
                        <h1 class="admin-header">Panel de Administración</h1>
                        <p class="user-welcome">Bienvenido, {{ request.user.username }}</p>
                        <!-- Botones -->
                        <div class="admin-buttons">
                            <a class="button-primary" href="{% url 'admin_usuarios' %}">Usuarios</a>
                            <a class="button-primary" href="{% url 'admin_cursos' %}">Cursos</a>
                            <a class="button-primary" href="{% url 'admin_horarios' %}">Horarios</a>
                        </div>
                {% else %}
                    <h1>Oposiciones 2025: Abierto plazo de MATRÍCULA</h1>
                    <p class="user-welcome">Bienvenido, {{ request.user.username }}</p>
                    <a class="button-primary" href="{% url 'lista_cursos' %}">Cursos</a>
                {% endif %}
            {% else %}
                <h1>Oposiciones 2025: Abierto plazo de MATRÍCULA</h1>
            {% endif %}
        </div>
    </div>

    {% if not user.is_authenticated %}
        <div class="table_container">
                {% if cursos %}
                    <h1 class="titulo">Lista de Cursos</h1>
                    <div class="tabla-scrollable">
                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <th>Nombre del Curso</th>
                                    <th>Especialidad</th>
                                    <th>Modalidad</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Finalización</th>
                                    <th>Vacantes</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for curso in cursos %}
                                <tr>
                                    <td>{{ curso.nombre }}</td>
                                    <td>{{ curso.get_especialidad_display }}</td>
                                    <td>{{ curso.get_modalidad_display }}</td>
                                    <td>{{ curso.fecha_inicio }}</td>
                                    <td>{{ curso.fecha_finalizacion }}</td>
                                    <td>{{ curso.vacantes }}</td>
                                    <td>
                                        <a href="{% url 'registro' %}" class="btn btn-azul">Apuntate!</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
        </div>
    {% endif %}

    <!-- Sección de información adicional -->
    <footer class="info-section fixed-footer">
        <h2>CURSOS ONLINE DESDE CUALQUIER PARTE</h2>
        <p>
            En septiembre de 2025 comenzamos nuestro curso de preparación. No te quedes sin tu plaza (limitadas).
            Grupos reducidos.
        </p>
    </footer>
    
{% endblock content %}
