{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/registro.css' %}">
  <link rel="stylesheet" href="{% static 'css/estilosbase.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="form-container mt-5">
    <h2>Perfil de {{ user_profile.first_name }} {{ user_profile.last_name }}</h2>

    <p style="margin-bottom:5px">Nombre: {{ user_profile.first_name }} {{ user_profile.last_name }}</p>
    <p style="margin-bottom:5px">Correo electrónico: {{ user_profile.email }}</p>
    <button type="button" class="btn btn-primary w-100 mt-3" onclick="window.location.href='{% url 'editar_perfil' %}'"style="margin-bottom:10px">Editar Perfil</button>
    <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
</div>
{% endblock content %}
