<!-- templates/ver_carrito.html -->
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cursos.css' %}">
{% endblock extra_css %}


{% block content %}
<h1 class="titulo">Cesta de la Compra</h1>

<table class="custom-table">
    <thead>
        <tr>
            <th>Nombre del Curso</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for item in carrito %}
        <tr>
            <td>{{ item.curso.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.curso.precio }} €</td>

        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'confirmar_reserva' %}" class="btn-confirmar">Confirmar Reserva</a>
{% endblock content %}
